.container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: calc(50px - 1rem);
    overflow: hidden;
    background: transparent;

    .video {
        height: fit-content;
        width: 100%;
        // background: transparent;
        background-color: rgba(128, 128, 128);
        border-radius: calc(50px - 1rem);
        overflow: hidden;
    }
}
