@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    &,
    &::before,
    &::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
    }
}

html,
body,
#root {
    width: 100dvw;
    height: 100dvh;
    overflow-y: hidden;
}

// #root {
//     // font-family: 'Inter', sans-serif;
// }

// Reset button styling
button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
    appearance: none;
}

.hero {
    width: 100%;
    height: 30%;

    position: absolute;
    z-index: -1;
    inset: 0;
    bottom: unset;

    .backgroundWrapper {
        position: absolute;
        inset: 0;
        bottom: -40px;

        .background {
            object-fit: cover;
            width: 100%;
            height: 100%;

            filter: brightness(70%);
        }
    }

    .header {
        color: #baffaf;
        // font-family: 'Inter', sans-serif;

        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        text-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px;
        font-weight: 900;
        font-size: 4rem;
    }
}

.main {
    width: 100%;
    height: 70%;
    max-height: 70%;
    // height: 100%;

    background: white;

    position: absolute;
    inset: 0;
    top: 30dvh;
    bottom: unset;

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding-block: 2rem 8rem;

    overflow-y: auto;
}
