@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.navbarWrapper {
    --navbar-width: 159px;
    --navbar-height: 78px;

    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 10000;
    .navbar {
        border-radius: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        .button {
            cursor: pointer;
            padding: 15px;
            * {
                width: 48px;
                aspect-ratio: 1;
                display: block;
                color: #17af00;
            }
        }
        .spacer {
            height: 60%;
            width: 3px;
            background: #baffaf;
            border-radius: 10000px;
        }
    }
    .navbarMenu {
        position: absolute;
        // top: 0;
        left: 50%;
        translate: -50%;
        bottom: 0;
    }

    &:not(&.menuOpen) {
        .navbar {
            background: #e9ffe5;
            box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px, #9dff8d 0 0 12px inset;
        }
        // .navbarMenu {
        // }
    }

    &.menuOpen {
        .navbar {
            animation: fadeOut 0.1s ease;
            opacity: 0;
        }
        .navbarMenu {
            background: #e9ffe5;
            box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px, #9dff8d 0 0 12px inset;
            width: calc(100dvw - 4rem);
            height: calc(70dvh - 4rem);
            animation: scaleMenu 0.25s ease;
            border-radius: 50px;

            > * {
                animation: fadeIn 0.1s ease;
            }
        }
    }
}

@keyframes scaleMenu {
    0% {
        width: var(--navbar-width);
        height: var(--navbar-height);
        border-radius: calc(var(--navbar-height) / 2);
    }
    100% {
        width: calc(100dvw - 4rem);
        height: calc(70dvh - 4rem);
        border-radius: 50px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    gap: 0.5rem;

    > .title {
        display: flex;
        flex-direction: row;
        // margin-inline: 0;
        justify-content: space-between;
        width: 100%;

        p {
            width: fit-content;
            font-weight: bold;
        }
    }

    p {
        width: 100%;
        word-wrap: break-word;
        text-align: center;
    }
}
